
.Flex[data-v-513ef626] {
  flex-direction: column;
}

/* Each character in the timer is in a span; setting width so the numbers appear monospaced. */
#Time > span[data-v-513ef626], #Estimate > span[data-v-513ef626] {
  display: inline-block;
  width: 0.45em;
  text-align: center;
}
#Time > .Colon[data-v-513ef626], #Estimate > .Colon[data-v-513ef626] {
  width: 0.22em;
}
.stopped[data-v-513ef626] {
  color: #e0c686;
}
.running[data-v-513ef626] {
  color: #f57f05;
}
.paused[data-v-513ef626] {
  color: #dfb54f;
}
.finished[data-v-513ef626] {
  color: #b07d01;
}



